.card-wrapper {
  background: #000;
  height: 125vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}
